{{partial 'admin/plugins-pages-form'}}

<div class="btn-group">
  <button class="btn btn-large btn-primary" {{action 'create' this}}>Create</button>
  <button class="btn btn-large btn-danger" {{action 'cancel' this}}>Cancel</button>
</div>
